.search-input {
    margin: 10px;
}

.search-icon {
    color: #ffff00;
    text-align: right;
    line-height: 50px;
    margin-right: -20px;
}

.search-icon li a {
    color: #ffff00;
}

.carousel-inner {
    text-align: center;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    max-height: 400px;
    margin: 0 auto;
}

.threepage {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.logo {
    margin: 5px 10px;
}

.nav-center {
    margin: 0 100px;
}

.my-margin {
    margin: 10px 0;
}

.offset-senter {
    text-align: center;
}

.color-red {
    color: rgba(255, 22, 37, 0.96);
}

a {
    color: #000;
}
.tab-h2 {
	font-size: 20px;
	text-align: center;
	letter-spacing: 1px;
	color: #0059b2;
}
.tab-p {
	font-size: 15px;
	text-align: left;
	letter-spacing: 1px;
	color: #999;
	margin: 0 100px 0 560px;
}
.tab-p1 {
	font-size: 15px;
	text-align: center;
	letter-spacing: 1px;
	color: #999;
	margin: 20px 100px 40px 100px;
}
.tab-p2 {
	font-size: 15px;
	text-align: left;
	letter-spacing: 1px;
	color: #999;
	margin: 20px 150px 40px 150px;
}
.tab1 {
	margin: 30px 0;
	color: #666;
}
.tab1 .text-muted {
	color: #999;
	text-decoration: line-through;
}
.tab1 .media-heading {
 	margin: 5px 0 20px 0;
 }
.tab1 .col {
	padding: 20px;
}
.tab2 {
	margin: 30px 0;
	color: #666;
}
.tab2 .media-heading {
 	margin: 80px 0 20px 0;
 	text-align: center;
 }



