<!--<%--任务 二用bootstarp 来完成一个简单的 404 页面--%>-->
<!DOCTYPE html>
<html>
<head>
    <title>
        ylook | Error...
    </title>
    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="../statics/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../statics/css/style.css">
</head>
<body>

<div class="container">
<div class="tab2">

    <div class="row" style="margin-top: 100px;">
        <div class="col-md-2 col"></div>
        <div class="col-md-8 col">
            <div class="media">
                <div class="media-left">
                    <a href="#"><img src="../statics/img/404.jpg" class="media-object" alt=""></a>
                </div>
                <div class="media-body">
                    <h1 class="media-heading">404</h1>
                    <p class="tab-p1"><strong>对不起，你打开的页面丢失了！</strong></p>
                    <p><strong>你想：</strong></p>
                    <ul>
                        <li>1.返回<a href="home.html">首页</a>，查看更多精彩内容。</li>
                        <li>2.返回<a href="details.html">详情页</a>，继续浏览。</li>
                        <li>3.返回<a href="personal_center.html">个人中心</a>，查看历史或选择动向。</li>
                        <li>4.<a href="page_about.html">联系我们</a>，我们收到后，会尽快处理您的请求。</li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-2 col"></div>
    </div>
    </div>
    <div class="row" style="margin-top:140px">
        <hr>
        <div class="col-md-12">
            <div style="text-align: center;">
                <p>版权所有 &copy 上海大学。</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script src="../statics/js/jquery-3.1.1.min.js"></script>
<script src="../statics/js/bootstrap.min.js"></script>